$primaryColor1 : hsl(300, 43%, 22%);
$primaryColor2 : hsl(333, 80%, 67%);
$neutral1 : hsl(303, 10%, 53%);
$neutral2 : hsl(300, 24%, 96%);
$neutral3 : hsl(0, 0%, 100%);

@mixin rateStyle() {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;    
    background-color: $neutral2;
    border-radius: 10px;

    p{
        margin-left: 15px;
        font-weight: 700;
        color: $primaryColor1
    }
}

@mixin rateStyle667px () {
    flex-direction: column;   
    justify-content: center;
    align-items: center;
                
    p {
        margin-top: 15px;
    }
}

@mixin depoimentStyle() {
    width: 30%;
    padding: 30px;
    background-color: $primaryColor1;
    border-radius: 10px; 
    
    p {
        margin-top: 25px;
        color: $neutral2;
    }
}

@mixin personStyle() {
    display: flex;
    align-items: center;

    .pics {
        border-radius: 50%;
    }

    .name {
        padding: 15px;
    }

    h2 {
        color: $neutral2;
        font-size: 15px;
        font-weight: 500;
    }
    h3 {
        color: $primaryColor2;
        font-size: 15px;
        font-weight: 400;
    }
}

* {
    margin: 0;
    padding: 0;
    max-width: 1440px;
}
body {
    height: 100vh;
    margin: 5% 10%;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
}

main {
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.main-text {
    width: 35%;
    display: flex;
    flex-direction: column;
    
    h1 {
        font-weight: bolder;
        font-size: 3em;
        color: $primaryColor1;  
    }

    p {
        margin-top: 15px;
        color: $neutral1; 
        flex-grow: 1;
    }
}

.rate {
    width: 35vw;
    padding: 10px 0;    
    
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;        
        /*display: grid;
        grid-template-rows: 1fr 1fr 1fr;  
        grid-template-columns: 1fr 2fr 6fr 2fr 1fr;
        row-gap: 15px; */

        .rate1 {
            margin-right: 50px;
            @include rateStyle();
            /*grid-column: 1/4;*/
        }

        .rate2 {
            margin: 20px 25px; 
            @include rateStyle();
            /*grid-column: 2/5;*/
        }

        .rate3 {
            margin-left: 50px;
            @include rateStyle();
            /*grid-column: 3/6;*/         
        }
    }
}

.stars {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    
    svg {
        padding: 0 3px;
    }
}

.depoiments {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.depoiment1 {
    margin-bottom: 30px;
    @include depoimentStyle();
    
    .person1 {
        @include personStyle();        
    }
}

.depoiment2 {
    margin: 15px 25px;  
    @include depoimentStyle();

    .person2 {
        @include personStyle();
        
    }
}

.depoiment3 { 
    margin-top: 30px;
    @include depoimentStyle();
        
    .person3 {
        @include personStyle();       
    }
}

.attribution {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

@media (max-width: 850px) {
    .depoiments {
        width: 80%;
    }

    .rate ul .rate1 {
        margin-right: 0px;
    }
    .rate ul .rate2 {
        margin: 20px 0px;
    }
    .rate ul .rate3 {
        margin-left: 0px;
    }
}

@media (max-width: 750px) {
    body {
        margin: 5%;
    }

    .depoiments {
        width: 100%;
        flex-flow: row wrap;
        justify-content: center;
    }

    .depoiment1 {
        width: 100%;
        margin-bottom: 10px;
    }

    .depoiment2 {
        width: 100%;
        margin: 15px 0px;
    }

    .depoiment3 {
        width: 100%;
        margin-top: 10px;
    }
}

@media (max-width: 667px) {
    body {
        margin-top: 50px;
    }

    .header {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .main-text {
        width: 100%;
        
        h1 {
            margin: 0px 50px;
            text-align: center;
        }

        p {
            margin: 20px 50px;
            text-align: center;
        }
    }

    .rate {
        width: 100%;

        ul {
            width: 100%;

            .rate1 {
                @include rateStyle667px();
            }

            .rate2 {
               @include rateStyle667px();
            }

            .rate3 {
                @include rateStyle667px();
            }
        }
    }

    .attribution p {
        text-align: center;
    }
}

@media (max-width: 428px) {
    .main-text h1 {
        font-size: 2.5em;
    }
}

@media (max-width: 375px) {  
    body {
        margin-top: 50px;
    }
    
    .main-text h1 {
        
        font-size: 2em;
    }
}

