* {
  margin: 0;
  padding: 0;
  max-width: 1440px;
}

body {
  height: 100vh;
  margin: 5% 10%;
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.main-text {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-text h1 {
  font-weight: bolder;
  font-size: 3em;
  color: #502050;
}

.main-text p {
  margin-top: 15px;
  color: #937b92;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.rate {
  width: 35vw;
  padding: 10px 0;
}

.rate ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*display: grid;
        grid-template-rows: 1fr 1fr 1fr;  
        grid-template-columns: 1fr 2fr 6fr 2fr 1fr;
        row-gap: 15px; */
}

.rate ul .rate1 {
  margin-right: 50px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #f7f2f7;
  border-radius: 10px;
  /*grid-column: 1/4;*/
}

.rate ul .rate1 p {
  margin-left: 15px;
  font-weight: 700;
  color: #502050;
}

.rate ul .rate2 {
  margin: 20px 25px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #f7f2f7;
  border-radius: 10px;
  /*grid-column: 2/5;*/
}

.rate ul .rate2 p {
  margin-left: 15px;
  font-weight: 700;
  color: #502050;
}

.rate ul .rate3 {
  margin-left: 50px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #f7f2f7;
  border-radius: 10px;
  /*grid-column: 3/6;*/
}

.rate ul .rate3 p {
  margin-left: 15px;
  font-weight: 700;
  color: #502050;
}

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stars svg {
  padding: 0 3px;
}

.depoiments {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.depoiment1 {
  margin-bottom: 30px;
  width: 30%;
  padding: 30px;
  background-color: #502050;
  border-radius: 10px;
}

.depoiment1 p {
  color: #f7f2f7;
}

.depoiment1 .person1 h2 {
  color: #f7f2f7;
  font-size: 15px;
  font-weight: 500;
}

.depoiment1 .person1 h3 {
  color: #ee68a4;
  font-size: 15px;
  font-weight: 400;
}

.depoiment2 {
  margin: 15px 25px;
  width: 30%;
  padding: 30px;
  background-color: #502050;
  border-radius: 10px;
}

.depoiment2 p {
  color: #f7f2f7;
}

.depoiment2 .person2 h2 {
  color: #f7f2f7;
  font-size: 15px;
  font-weight: 500;
}

.depoiment2 .person2 h3 {
  color: #ee68a4;
  font-size: 15px;
  font-weight: 400;
}

.depoiment3 {
  margin-top: 30px;
  width: 30%;
  padding: 30px;
  background-color: #502050;
  border-radius: 10px;
}

.depoiment3 p {
  color: #f7f2f7;
}

.depoiment3 .person3 h2 {
  color: #f7f2f7;
  font-size: 15px;
  font-weight: 500;
}

.depoiment3 .person3 h3 {
  color: #ee68a4;
  font-size: 15px;
  font-weight: 400;
}

.attribution {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
/*# sourceMappingURL=style.css.map */