$primaryColor1 : hsl(300, 43%, 22%);
$primaryColor2 : hsl(333, 80%, 67%);
$neutral1 : hsl(303, 10%, 53%);
$neutral2 : hsl(300, 24%, 96%);
$neutral3 : hsl(0, 0%, 100%);

@mixin rateStyle {
    padding: 15px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;    
    background-color: $neutral2;
    border-radius: 10px;

    p{
        margin-left: 15px;
        font-weight: 700;
        color: $primaryColor1
    }
}

* {
    margin: 0;
    padding: 0;
    max-width: 1440px;
}
body {
    margin: 10% 10%;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
}

header {
    display: flex;
    justify-content: space-between;
}

.main-text {
    width: 35vw;
    display: flex;
    flex-direction: column;
        
    h1 {
        font-weight: bolder;
        font-size: 3em;
        color: $primaryColor1;  
    }

    p {
        margin-top: 5px;
        color: $neutral1; 
        flex-grow: 1;
    }
}

.rate {
    width: 35vw;
    padding: 10px;    
    
    ul {
        list-style-type: none;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;  
        grid-template-columns: 1fr 2fr 6fr 2fr 1fr;
        row-gap: 15px;

        .rate1 {
            @include rateStyle();
            grid-column: 1/4;
        }

        .rate2 {
            @include rateStyle();
            grid-column: 2/5;
        }

        .rate3 {
            @include rateStyle();
            grid-column: 3/6;         
        }
    }
}

.stars {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    
    svg {
        padding: 0 3px;
    }
}

.depoiments {
    margin-top: 50px;
    height: 250px;    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 20px;
}

.depoiment1 {
    padding: 30px;
    background-color: $primaryColor1;
    border-radius: 10px;   
    
    .person1 {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr .1fr 1fr;
        
        img {
            grid-row: 1/4;
        }
    
        h2 {
           color: $neutral2;
           font-size: 15px;
           font-weight: 500;
           grid-column: 2/4;
        }

        h3 {
           color: $primaryColor2;
           font-size: 15px;
           font-weight: 400;
           grid-column: 2/4;
        }
    }
}



.attribution {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

